body {
  background-color: #fff;
  /* background-image: linear-gradient(
    to bottom right,
    #ff844f,
    #ff7b4e,
    #ff674e,
    #ff4e56,
    #f24b53
  ); */
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  color: black;
}
* > * {
  box-sizing: border-box;
}

.content {
  padding-top: 90px;
  text-align: center;
}
